<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Arama</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama İfadesi Giriniz ..."
  />
</div>

<div *ngIf="filterText.length" class="alert alert-success">
  {{filterText}} aradınız
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category Id</th>
      <th scope="col">Unit Price</th>
      <th scope="col">VAT Price</th>
      <th scope="col">Units In Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice | currency }}</td>
      <td>{{ product.unitPrice | vatAdded: 18 | currency }}</td>
      <td>{{ product.unitsInStock }}</td>
    </tr>
  </tbody>
</table>
